/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 50%;
    /* max-width: 400px; */
    text-align: center;
}

h1,
h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #b3b3b3;
}

p {
    display: flex;
    margin-bottom: 20px;
}

.input-nova-tarefa {
    width: 75%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: #e0e0e0;
    font-size: 1rem;
}

.input-nova-tarefa::placeholder {
    color: #888;
}

.btn-add-tarefa {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add-tarefa:hover {
    background-color: #3700b3;
}

.tarefa {
    list-style: none;
    padding: 0;
}

.tarefa li {
    background-color: #2b2b2b;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarefa li:hover {
    background-color: #373737;
}

.tarefa li span {
    color: #e0e0e0;
}

.tarefa li button {
    background: none;
    border: none;
    color: #f44336;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s;
}

.tarefa li button:hover {
    color: #d32f2f;
}